@model Airline_Booking.Controllers.flight

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>flight</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.fname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fromplace)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fromplace)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.toplace)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.toplace)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.time)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.time)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.airportname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.airportname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.price)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.fid }) |
    @Html.ActionLink("Back to List", "Index")
</p>
